
 body{ 
  	background: #F0EBA7
  }
 h1 { 
	padding: 15px;
  	font-family: veranda;
  	font-size: 30px;
  	font-weight: bold;
  	color: #887384;
  	text-align: center;
 }
h2 { 
  	margin: 10px;
  	font-family: veranda;
  	font-size: 22px;
  	font-weight: bold;
  	color: #BBA641;
  	text-align: left;
 }
 p { 
  	padding-left: 20px;
 }
 h3 { 
  	padding-left: 20px;
  	font-family: veranda;
  	font-size: 18px;
  	font-weight: bold;
  	color: #BB41A1;
  	text-align: left;
 }
 p { 
  	margin:10px;
  	padding-left: 20px;
  }
 h4 { 
  	padding-left: 20px;
  	font-family: veranda;
  	font-size: 16px;
  	font-weight: bold;
  	color: #BBA641;
  	text-align: left;
 }
 p { 
  	padding-left: 40px;
  }
 ul { 
  	padding-left: 70px;
 }
 